@font-face {
  font-family: "iconfont"; /* Project id 2787184 */
  src: url('iconfont.woff2?t=1670399510127') format('woff2'),
       url('iconfont.woff?t=1670399510127') format('woff'),
       url('iconfont.ttf?t=1670399510127') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e8ad";
}

.icon-wenjianshangchuan:before {
  content: "\e617";
}

.icon-zhankaiquanpingkuozhan:before {
  content: "\e7b0";
}

.icon-biaoqing:before {
  content: "\e745";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shouqi1-copy:before {
  content: "\ec80";
}

.icon-message:before {
  content: "\e738";
}

.icon-message1:before {
  content: "\e646";
}

.icon-photo:before {
  content: "\e629";
}

.icon-tongzhi:before {
  content: "\e6ca";
}

.icon-shuyi_qunliao:before {
  content: "\e661";
}

.icon-morentouxiang:before {
  content: "\e677";
}

.icon-moveto:before {
  content: "\e78a";
}

.icon-wenjianjiasvg:before {
  content: "\e648";
}

.icon-wenjianjia:before {
  content: "\e761";
}

.icon-24gl-folderMinus:before {
  content: "\eabe";
}

.icon-tianjialianxiren:before {
  content: "\e69b";
}

.icon-youjian:before {
  content: "\e616";
}

.icon-wenjianjiadaochu:before {
  content: "\e70c";
}

.icon-line-foldertransferwenjianjiazhuanhuan:before {
  content: "\e73f";
}

.icon-SX_010:before {
  content: "\e69f";
}

.icon-chuangjianqunliao:before {
  content: "\e699";
}

.icon-shipinhuiyiline:before {
  content: "\e67d";
}

.icon-gongzuotai-moren:before {
  content: "\e6f7";
}

.icon-tongxunlu-moren:before {
  content: "\e6fd";
}

.icon-zelvxuanzefeiyongdaosanjiaoxingfandui:before {
  content: "\e665";
}

.icon-jiagou:before {
  content: "\e602";
}

.icon-zuzhijiagouguanli:before {
  content: "\e635";
}

.icon-zuzhijiagou:before {
  content: "\e620";
}

.icon-tongxunlu:before {
  content: "\e632";
}

.icon-gongzuotai:before {
  content: "\e636";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-xiaoxi1:before {
  content: "\e605";
}

.icon-zengjia:before {
  content: "\e6ea";
}

.icon-reloadtime:before {
  content: "\eb0c";
}

.icon-shijian:before {
  content: "\e600";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-sousuo:before {
  content: "\e62f";
}

